.body {
    -fx-background-color: #000000;
}


.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
}


.tab:selected {
    -fx-background-color: #ABF0FF;
}


.menu .label {
    -fx-text-fill: #000000;
}



.label, .text-inputCustom, .combo-box .list-cell{
    -fx-text-fill: #ffffff;
}

.list-cell .text-input{
	-fx-text-fill: black;
}

.combo-box .text-field:focused {
    -fx-text-fill: #ffffff;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #2c2c2c;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #181818;
}

.menubar {
    -fx-background-color: #43d9ff;
}

.btn {
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
}

.btn:hover {
    -fx-background-color: #c5c5c5;
}





.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 13px "Segoe UI";
    -fx-border-insets: 0;
}


.table-cell:hover {
    -fx-background-color: #0082ec;
}


.table-row-cell:empty,
.table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}


.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgba(28, 183, 236, 0.25);
}


.table-view:row-selection .table-row-cell:filled:selected:hover {
    -fx-background-color: rgba(0, 160, 189, 0.9);
    -fx-text-inner-color: red;
}


.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: rgba(11, 190, 250, 0.65);
}


.table-view,
.table-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}


.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
}





.table-view .column-header,
.table-view .filler {
    -fx-background-color: rgb(49, 49, 49);
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}


.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}



